* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this is for not showing the scrollbar on Y axis */
canvas {
    display: block;
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    /* background: #4d79bc; */
    max-width: 100%;
    max-height: 100%;
}
